﻿@model EmailViewModel
@{
    ViewBag.Title = "Send an Email";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>
<section id="email">
    @using (Html.BeginForm("Create", "Email", FormMethod.Post))
    {
        <fieldset>
            <div class="label">@Html.Label("Sender name")</div>
            <div class="input">@Html.TextBoxFor(model => model.senderName)</div>
        </fieldset>
    
        <fieldset>
            <div class="label">@Html.Label("Sender email")</div>
            <div class="input">@Html.TextBoxFor(model => model.senderEmail)</div>
        </fieldset>
    
        <fieldset>
            <div class="label">@Html.Label("Recipient name")</div>
            <div class="input">@Html.TextBox("toName")</div>
        </fieldset>
    
        <fieldset>
            <div class="label">@Html.Label("Recipient email")</div>
            <div class="input">@Html.TextBox("toEmail")</div>
        </fieldset>
        
        <fieldset>
            <div class="label">@Html.Label("Subject")</div>
            <div class="input">@Html.TextBox("subject")</div>
        </fieldset>
        
        <fieldset class="wide">
            <div class="label">@Html.Label("Email message")</div>
            <div class="input">@Html.TextArea("message", new { @cols = 60, @rows = 10 })</div>
        </fieldset>
        
        <fieldset>
            <input type="submit" value="Submit"/>
        </fieldset>
    }

</section>
