﻿@{
    ViewBag.Title = "Error";
}

<h2>@ViewBag.Title</h2>

<p>Sorry, an exception has occurred. </p>
@{
    if (!String.IsNullOrEmpty(ViewBag.exception.ToString()))
    {
        <div id="exception">
            <p>@ViewBag.exception</p>
            
            @if(!String.IsNullOrEmpty(ViewBag.innerException))
            {
                <p>@ViewBag.innerException</p>
            }
        </div>
    }
}