﻿<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>EmailTester - @ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="@Url.Content("~/css/boilerplate.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/interface.css")">

    @{
    if ((string)ViewContext.Controller.ValueProvider.GetValue("controller").RawValue == "Email" &&
        (string)ViewContext.Controller.ValueProvider.GetValue("action").RawValue == "Create")
    {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script type="text/javascript">
                        
        $().ready(function () {
                            
            $("form").validate({
                rules: {
                    senderName: {
                        required: true,
                        minlength: 2
                    },
                    toName: {
                        required: true,
                        minlength: 2
                    },
                    senderEmail: {
                        required: true,
                        email: true
                    },
                    toEmail: {
                        required: true,
                        email: true
                    },
                    subject: {
                        required: true,
                        minlength: 2
                    },
                    message: {
                        required: true,
                        minlength: 2
                    }
                },
                messages: {
                    fromName: "Please enter the sender's name",
                    toName: "Please enter the recipient's name",
                    fromEmail: "Please enter a valid email address",
                    toEmail: "Please enter a valid email address",
                    subject: "Please enter a valid subject",
                    message: "Please paste an HTML email in to send."
                }
            });

        });
    </script>
    }
        
    }
</head>
<body>

    @RenderBody()
    
</body>
</html>
