﻿body {
    margin: auto 75px;
}

/* form elements */

fieldset {
    height: 50px;
    width: 800px;
}

fieldset.wide {
    width: 950px;
}

fieldset.wide .input {
    width: 730px;
}

fieldset .label {
    width: 120px;
    float: left;
}

fieldset .input {
    width: 580px;
    float: right;
}

fieldset input, 
fieldset textarea {
    border: 1px solid #000;
}

fieldset input[type=text] {
    padding: 5px;
    font-size: 1.1em;
}

fieldset input.error,
fieldset textarea.error {
    border: 1px solid red;
}

fieldset label.error {
    color: red;
    margin-left: 15px;
}

/* exceptions */

#exception {
    background-color: #FFF2B8;
    padding: 15px;
}